.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(board), class: 'card' do
      .card_name
        = board.name
      .card_btn
        = image_tag 'doted.png'
      .card_overview
        = board.overview
      .card_user
        = current_user.email