.container
  = form_with(model: @board, local: true) do |f|
    %div
      = f.label :name, 'Name'
    %div
      = f.text_field :name
    %div
      = f.label :overview, 'Description'
    %div
      = f.text_field :overview
    = f.submit 'Submit', class: 'btn-primary'
